.indexPage{
  width:100%;
  min-height: 640px;
  background-image: url('/ike2.png');
  background-size: 100%
}
.signupContain{
  min-height: 100;
  min-width: 100;
  text-align: center;

}
input[type="checkbox"],
input[type="radio"]{
  width:20px;

}
@font-face {
  font-family: webly-sleek;
  src: url(/weblysleekuil.ttf);
}
.button{
  background: #a63d56;
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none

}
.navbar-default {
 background-color: transparent;
 border-color: transparent; 
}
.contain{
  height: 100%
}
#index-header{
  margin-top: 0px;
  color: white;
  z-index: 10px;
  margin-right: 90px;
  font-size: 100px;
  font-family: webly-sleek
}
.jumbotron{
  background:transparent;
}
.search{
  color: white;
  font-size: 20px
}

/*search button css*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 45px;
  height: 43px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-right: -70px;
}
.search-form .form-group input.form-control {
  padding-right: 40px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  height: inherit;
  font-size: large;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 47px;
  height: 34px;
  line-height: 47px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 25px;
}

/*.form-group{
  width: 60px;
  height: 60px;
  }*/

  /*search button styling ends here*/
  h2{
    padding: 0px;
  }