/*.indexPage{
  width:100%;
  min-height: 640px;
  background-image: url('/ike2.png');
  background-size: 100%
}
*/
.indexPicture {
  background-image: url('/pharmsee@jpeg75.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.signupContain{
  min-height: 100;
  min-width: 100;
  text-align: center;

}
input[type="checkbox"],
input[type="radio"]{
  width:20px;

}
@font-face {
  font-family: webly-sleek;
  src: url(/weblysleekuil.ttf);
}
@font-face {
  font-family: webly-sleeksb;
  src: url(/weblysleekuisb.ttf);
}
@font-face {
  font-family: webly-sleeksl;
  src: url(/weblysleekuisl.ttf);
}
.webly{
  font-family: webly-sleek
}
.weblysb{
  font-family: webly-sleeksb
}
.weblysl{
  font-family: webly-sleeksl
}
.button{
  background: #a63d56;
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none

}
.entire{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.cover{
  margin-bottom: 0px !important;
}
.navbar-default {
 background-color: transparent;
 border-color: transparent; 
 /*position: fixed*/
}
.contain{
  height: 100%
}
#index-header{
  margin-top: 0px;
  color: white;
  z-index: 10px;
  /*margin-right: 90px;*/
  font-size: 205.7142857%;    /*font-size:40px, context(body):14px*/
  font-family: webly-sleek
}
.jumbotron{
  background:transparent;
}
.search{
  color: white;
  font-size: 20px
}

/*search button css*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 45px;
  height: 43px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-right: -70px;
}
.search-form .form-group input.form-control {
  padding-right: 40px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  height: inherit;
  font-size: large;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 47px;
  height: 34px;
  line-height: 47px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 25px;
}

/*search button styling ends here*/
h2{
  padding: 0px;
}
p{
  /*font-family: Roboto;*/
}
body{
  margin-top: 0px;
  height:100%;
  background-color: #fff;
  font-size: 16px
}
.side-nav {
  top:60px;
  background-color: #D7D1D1;
}
html{
  height: 100%
}
.own-pharm{
  border: solid 2px #009688;
  background-color: transparent !important;  
  margin-top: 26px;
}






/*=========================================================================================*/
/*Media queries*/
/*=========================================================================================*/
@media screen and (max-device-width: 414px){
  /*landing page*/
  .Header{
    /*margin-top: 15.8565154%*/
  }
  body{
    width:100%;
    height: 100%;

  }
  html{
    width:100%;
    height: 100%;

  }
  .navbar-header{
    text-align: center;
  }
  .navbar-brand{
    text-align: center;
    margin-left: 70px;
  }
  .own-pharm{
    text-align: center;
    margin-right: 20px
  }
  .searchbox{
    /*margin-right: 5em*/
    width:100%;
    margin-top: 50px;
  }
  .centered{
    position:absolute;
    margin-top: 120px;
  }
  #index-header{
    /*font-size: 50.7142857%;*/
    /*font-size: 614.2857143%;*/
    /*padding:3px;*/
    font-size: 2em;
  }
  .small-search{
    text-align: center;
    width:100%;
    margin-left: 5px;
  }
  .search-form{
    /*margin-left: 30px;*/
    text-align: center;

  }
  .card-small{
    /*width:290px;*/
    text-align: center;
  }
  .drug-head{
    /*width: 290px;*/
    text-align: center;
  }
}
@media screen and (max-width: 780px){

}
@media (min-width: 480px){
  .col-md-4 {
    /*width: 100%;*/

  }
}