.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  border-radius: 0px
}
#search {
  background: white;
  color: black;
  padding: 8px 10px;
  height:35.5px;

}
#indexNav{
  color: transparent;
}
#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;   
}
.col-md-offset-3 {
  margin-left: 33%;
}
.glyphicon{
  z-index: 1000px
}
.input-group .input-group-btn .btn {
 border-radius: 0px; 
}
.Header{
 /*margin-top:80px; context(body) 1366*/
 margin-top: 5.8565154%             
}
.searchbox{
  margin-top: 200px
}