<template name="mainhome">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PharmSee</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {{#if currentUser}}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentUser}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" class="signout">Sign out</a></li>
            </ul>
          </li>
        </ul>
        {{/if}}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <h1>{{name}}</h1>
          <h3>{{address}}</h3>
          <h3>{{location}}</h3>
        </div>
        <hr>
        <h2>Drug Database</h2>
        {{> drugCategory}}
      </div>
      <div class="col-md-8">
        <div class="row">
          <input type="text" class="form-control" placeholder="Search Drug">
        </div>

        <div class="row">
          {{#each drugs}}




          <p><input type="checkbox" class="drugsel form-control pull-right" value="{{_id}}">{{description}}</p>
          <hr>
          {{/each}}
        </div>
      </div>
    </div>
  </div> -->

  <div id="wrapper">

    <!-- Navigation -->

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        {{#with pharmacy}}
        <li>
          <a>{{name}}</a>
        </li>
        {{/with}}
        <li class="active">
          <a href="{{pathFor 'space'}}"><i class="fa fa-fw fa-dashboard"></i>Home</a>
        </li>
        <li>
          <a href="{{pathFor 'drugDatabase'}}"><i class="fa fa-fw fa-bar-chart-o"></i>Drug Database</a>
        </li>
        <li>
          <a href="{{pathFor 'analytics'}}"><i class="fa fa-fw fa-table"></i>Analytics</a>
        </li>
        <li>
          <a href="{{pathFor 'archive'}}"><i class="fa fa-fw fa-edit"></i>Archive</a>
        </li>

        <!-- <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#">Dropdown Item</a>
            </li>
            <li>
              <a href="#">Dropdown Item</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->

    <div id="page-wrapper">


      <!-- /.container-fluid -->
      {{>yield}}

    </div>
    <!-- /#page-wrapper -->

  </div>

</template>




          <!-- <label class="checked-drugs">
            <input type="checkbox" checked="{{hideCompleted}}" />
            Hide Completed Tasks
          </label> -->