<template name="mainhome">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <h1>{{name}}</h1>
          <h3>{{address}}</h3>
          <h3>{{location}}</h3>
        </div>
        <hr>
        <h2>Drug Database</h2>
        {{> drugCategory}}
      </div>
      <div class="col-md-8">
        <div class="row">
          <input type="text" class="form-control" placeholder="Search Drug">
        </div>

        <div class="row">
          {{#each drugs}}

          <!-- <label class="checked-drugs">
            <input type="checkbox" checked="{{hideCompleted}}" />
            Hide Completed Tasks
          </label> -->



          <p><input type="checkbox" class="drugsel form-control pull-right" value="{{_id}}">{{description}}</p>
          <hr>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>